@media screen and (max-device-width: 480px)
{
    /* 480pxまでの幅の場合に適応される (対象:スマートフォン) */
    html,body
    {
        height: 100%;
    }

    .main__body
    {
        max-width: 100%;
    }
    #main-form
    {
        width:70%;
        position: fixed;
        right:90px;
        bottom:40px;
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 1023px)
{
    /* 481pxから780pxまでの幅の場合に適応される(対象:タブレット端末) */
    #main-form
    {
        width:70%;
        position: fixed;
        right:90px;
        bottom:40px;
    }

}

@media screen and (min-device-width:1024px)
{
    /* 1024px以上の幅の場合に適応される(対象:PC) */
    #main
    {
        margin:auto;
    }

    .main__body
    {
        max-width: 50%;
    }

    .main-form__body
    {
        width:500px;

    }

    #main-form
    {
        position: fixed;
        right:90px;
        bottom:40px;
    }
}

html,body
{
    margin:0;
    padding:0;
}

.header
{
    margin:0;
    background-color: #444;
}

.section
{
    padding:0;
}

ul,li 
{
    margin:0;
    padding:0;
}

#main
{
    height: 100%;
}


.main__body
{
    margin:auto;
    height: 100%;
}


/* 入力フォーム */
#main-form
{
    flex-direction: column;
    background-color:rgb(238, 247, 255);
    border:1px solid rgb(180, 180, 180);
    border-radius: 5px;
}

#main-form.__hidden
{
    display: none;
}


.main-form_item
{
    display: flex;
    margin:2px;
}

div.main-form_item:last-child
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-form_text
{
    width:15%;
    background-color: rgb(255, 220, 177);
    margin:1px;
}

.main-form_input
{
    padding:0;
    margin:1px;
}

.main-form_textarea
{
    width:80%;
    padding:0;
    margin:1px;
    height: 150px;
}

.main-form_button
{
    border:1px solid;
    border-radius: 2px;
    padding:5px;
    width:50px;
    background-color:white;
}


/* 返信レス表示 */
#main-content
{
    margin:auto;
    background-color:#bedcff;
    height: 100%;
}

.__show
{
    background-color: rgb(223, 249, 255);
}


.main-content__item
{
    max-width: 800px;
    background-color:rgb(252, 252, 252);
    border:1px solid rgba(240, 240, 240, 0.26);
    border-radius: 2px;
    padding:5px;
    margin-bottom:5px;
}

.main-content__item.__error
{
    width: 800px;
    background-color:rgb(255, 224, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.main-content__body
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content__text
{


}


/* ユーザーインターフェイス関係 */

.js-userinterface
{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 28px;
    bottom: 34px;
}

.js-userinterface__item
{
    width:60px;
    height:60px;
    border:2px solid #1da1f2;
    border-radius: 50%;
    background-color: #1da1f2;
    margin-top:5px;
    margin-bottom: 5px;
}

.js-userinterface__item:focus
{
    outline: 0;
}

.icon-compose
{
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
}

.icon-formopen::before
{
    font-size: 25px;
    content:"\f044";
    color:rgb(54, 54, 54);
}

.icon-formopen.__open::before
{
    font-size: 30px;
    content:"\f057";
    color:rgb(238, 238, 238);
}

.icon-scrollupper::before
{
    font-size: 30px;
    font-weight: 900;
    content:"\f102";
    color:rgb(54, 54, 54);
}

.icon-reload::before
{
    font-size: 30px;
    font-weight: 900;
    content:"\f2f9";
    color:rgb(54, 54, 54);
}

.icon-error::before
{
    font-size: 60px;
    font-weight: 900;
    content:"\f06a";
    color:rgb(255, 73, 73);
}


.js-drawer.__open
{
    border:5px double rgb(119, 119, 119);
    background-color: #313131;
}