@media screen and (max-device-width: 480px)
{
    /* 480pxまでの幅の場合に適応される (対象:スマートフォン) */
    html,body
    {
        height: 100%;
    }

    .main__body
    {
        max-width: 100%;
    }
    #main-form
    {
        width:70%;
        position: fixed;
        right:90px;
        bottom:40px;
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 1023px)
{
    /* 481pxから780pxまでの幅の場合に適応される(対象:タブレット端末) */
    #main-form
    {
        width:70%;
        position: fixed;
        right:90px;
        bottom:40px;
    }

}

@media screen and (min-device-width:1024px)
{
    /* 1024px以上の幅の場合に適応される(対象:PC) */
    #main
    {
        margin:auto;
    }

    .main__body
    {
        max-width: 50%;
    }

    .main-form__body
    {
        width:500px;

    }

    #main-form
    {
        position: fixed;
        right:90px;
        bottom:40px;
    }
}

html,body
{
    margin:0;
    padding:0;
    background-color:#bedcff;
}

button
{
    outline: 0;
}

.header
{
    margin:0;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-content:center;
}

.section
{
    padding:0;
}

ul,li 
{
    margin:0;
    padding:0;
}

#main
{
    height: 100%;
}


.main__body
{
    margin:auto;
    height: 100%;
}

.--is-show::-webkit-scrollbar
{
    opacity: 0;
}

.--hidden
{
    display: none;
}

.button_text
{
    font-size:14px;
    font-weight: bold;
    line-height: 20px;
}

/* 入力フォーム */
#main-form
{
    flex-direction: column;
    background-color:rgb(238, 247, 255);
    border:1px solid rgb(180, 180, 180);
    border-radius: 5px;
}

.main-form_item
{
    display: flex;
    margin:2px;
}

div.main-form_item:last-child
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-form_text
{
    width:15%;
    background-color: rgb(255, 220, 177);
    margin:1px;
}

.main-form_input
{
    padding:0;
    margin:1px;
}

.main-form_textarea
{
    width:80%;
    padding:0;
    margin:1px;
    height: 150px;
}

.main-form_button
{
    border:1px solid;
    border-radius: 2px;
    padding:5px;
    width:50px;
    background-color:white;
}


/* 返信レス表示 */
#main-content
{
    margin:auto;
    background-color:#bedcff;
    height: 100%;
}

.__show
{
    background-color: rgb(223, 249, 255);
}


.main-content__item
{
    max-width: 800px;
    background-color:rgb(252, 252, 252);
    border:1px solid rgba(240, 240, 240, 0.26);
    border-radius: 2px;
    padding:5px;
    margin:5px;
}

.main-content__item:first-child
{
    margin-top: 0px;
}


.main-content__item.__error
{
    width: 800px;
    background-color:rgb(255, 224, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.main-content__body
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content__text
{
    margin:5px;
}

.main-content__text.__dbnumber
{
    font-size: 15px;
    color:rgb(179, 179, 179);
}

.main-content__text.__name
{
    font-size: 13px;
    color:rgb(99, 99, 99);
}

.main-content__text.__time
{
    font-size: 13px;
    color:rgb(179, 179, 179);
}



/* ユーザーインターフェイス関係 */

.js-userinterface
{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 28px;
    bottom: 34px;
}

.js-userinterface__item
{
    width:60px;
    height:60px;
    border:2px solid #1da1f2;
    border-radius: 50%;
    background-color: #1da1f2;
    margin-top:5px;
    margin-bottom: 5px;
}

.__inactive
{
    opacity: 0.5;
}

.js-drawer.__open
{
    border:5px double rgb(119, 119, 119);
    background-color: #313131;
}

.js-resdelete
{
    background-color: #ffffff00;;
    border:none;
    padding: 0;
    width:15px;
    height:20px;
}

.icon-compose
{
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
}

.__ui
{
    width:30px;
    height: 30px;
}

.icon-formopen::before
{
    font-size: 25px;
    content:"\f044";
    color:rgb(54, 54, 54);
}

.icon-formopen.__open::before
{
    font-size: 30px;
    content:"\f057";
    color:rgb(238, 238, 238);
}

.icon-scrollupper::before
{
    font-size: 30px;
    font-weight: 900;
    content:"\f102";
    color:rgb(54, 54, 54);
}

.icon-reload::before
{
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-weight: 900;
    content:"\f2f9";
    color:rgb(54, 54, 54);
}

.icon-error::before
{
    font-size: 60px;
    font-weight: 900;
    content:"\f06a";
    color:rgb(255, 73, 73);
}

.icon-banner
{
    margin: 5px;
}

.icon-banner::before
{
    font-size: 30px;
    font-weight: 900;
    content:"\f27a";
    color:rgb(255, 249, 249);
}

.__loading
{
    animation: rotate_anime 1s linear infinite;
}

.__loading::before
{
    content:"\f110";
}

.icon-delete::before
{
    font-size: 15px;
    font-weight: 900;
    content:"\f2ed";
    color:rgb(97, 97, 97);
}

@keyframes rotate_anime
{
    0% { transform: rotate(0deg)}
    100% { transform: rotate(360deg)}
}

.icon-close::before
{
    font-size: 25px;
    font-weight: 900;
    content:"\f00d";
    color:rgb(97, 97, 97);
}

/* モーダルウィンドウ */
.modalwindow
{
    position:fixed;
    top:0;
    transition: opacity 0.1s ease-out, visibility 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalwindow__body
{
    position: fixed;
    display: flex;
    flex-direction: column;
    width:500px;
    border-radius:5px;
}

.modalwindow__title
{
    margin:0;
    padding:0;
    height: 45px;
    background-color: #bedcff;
    border-radius: 5px 5px 0 0;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.modalwindow__item
{
    margin:0;
    padding:0;
    min-height: 100px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.modalwindow__ui
{
    margin:0;
    padding:5px;
    height: 50px;
    background-color: #ffffff;
    border-top:1px solid #bdbdbd;
    border-radius:0 0 5px 5px ;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.modalwindow__text
{
    padding:6px 6px;
    margin:5px;
    border:1px solid #bedcff;
    border-radius: 5px;
    font-size:16px;
    background-color: #fafafa;
}

.modalwindow__back
{
    width:100vw;
    height:100vh;
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalButtom__Cancel
{
    border:3px double #65757f;
    background-color: #ffffff;
}

.title_text
{
    width: 100%;
    font-weight: bold;
    font-size: 20px;
}

.js_modalWindow__close
{
    width:30px;
    height: 30px;
    padding:0;
    background-color: rgba(255, 255, 255, 0);
    border:0;
    border-radius: 5px;
    position: absolute;
    right: 5px;
}

.js_modalWindow-close:hover
{
    background-color: #cccccc;
    transition: background-color 0.2s ease-out, visibility 0.3s ease-out;
}

.js-modalButton
{
    border-radius: 20px;
    padding:6px 16px;
    margin:5px;
}

.js-modalButton.__Submit
{
    border: 2px solid #1da1f2;
    background-color: #1da1f2;
}

.js-modalButton.__deleting
{
    border: 2px solid #f21d1d;
    background-color: #f21d1d;
    color:#fcf7f7;
}

.--is_active
{
    opacity: 0;
    pointer-events: none;
}

.--is_show
{
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-out, visibility 0.3s ease-out;
}

/* メッセージ表示用モーダルウィンドウ */
.messagemodal
{
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    top:43px;
}

.messagemodal.--scroling
{
    top:0px;
}

.messagemodal__body
{
    width:400px;
    height: 50px;
    background-color: #fafafa;
    border:solid #bedcff;
    border-width:0px 1px 1px 1px;
    border-radius: 0 0 5px 5px;
    align-content: center;
    justify-content: center;
}